@mixin hidden() {
    position: absolute;
    @include outline;
    justify-content: center;
    width: 350px;
    height: 436px;     
    border-radius: 25px;
    background: $footer-background;
    opacity: 0;
    transition: opacity 1s;
}

@mixin hidden-hover() {
    opacity: 1;
    transition: 1s opacity;   
}

@mixin button() {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    color: $footer-background;
    background-color: white;
    transition: all 1s;
    font-family: 'open sans';
}

@mixin button-hover() {
    box-shadow: -10px 10px 10px black;
    border-bottom: 5px inset white;
    border-left: 5px inset white;
    background-color: $footer-background;                    
    color: white;
    transform: translateX(10px);
    transition: all 1s;
}